# clipboard
clipse/

# VS Code
Code/

# Gnome
dconf/

# Github CLI
gh/

# Grub Themes
grub2-themes/

# LibreOffice
libreoffice/

# GTK
gtk-3.0
gtk-4.0
xsettingsd.conf

# File Manager
nautilus/
Thunar/

# nwg
nwg-look/
nwg-panel/


# Pulse
pulse/

## sddm
sddm/SilentSDDM/.git/

# SystemD
systemd/

# Hyprland
xdg-desktop-portal/

# xfce
xfce4/

# pavucontrol
pavucontrol.ini

# Rygel
rygel.conf

# Golang
go/

# Loc btop
btop/btop.log

# EchoAPI
EchoAPI/

# Brave Browser
BraveSoftware/

# nextJS
nextjs-nodejs/

# Android
Android Open Source Project/

# Flutter
flutter/

# swww
swww/.cache
swww/.previews

#GIMP
GIMP/

#NVIM
nvim/lazy-lock.json

user-dirs.dirs
create-next-app-nodejs/
glib-2.0/
org.encroissant.app/
swingmusic/
mimeapps.list
evolution/
Google/
github-copilot/
menus/
vlc/
WhiteSur-gtk-theme/
WhiteSur-icon-theme/
